name: UI Checker

on:
  push:
    paths:
      - "ui/**"
      - ".github/workflows/ui_check.yml"
  pull_request:
    branches: ["main", "master", "dev"]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: true
          package_json_file: ui/package.json

      - run: pnpm check
        working-directory: ui
